* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #393E46;
    min-height: 100vh;
}

.container {
    width: 70%;
    margin: auto;
    text-align: center;
    min-height: 100vh;
}

.dice {
    text-align: center;
    display: inline-block;
}

h1 {
    margin: 5px 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 4rem;
    color: #4ECCA3;
}

p {
    font-size: 3rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
}

img {
    width: 80%;
}

.btn {
    display: flex;
    margin-top: 5px;
    text-align: center;
}

button {
    padding: 10px;
    border-radius: 10px;
    color: red;
    font-size: 3rem;
}

footer {
    margin-top: 1%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}

@media screen and (max-width: 500px) {
    .container {
        width: 40%;
        margin: auto;
        text-align: center;
    }
    h1 {
        margin: 30px;
    }
    .dice {
        display: block;
    }
    .btn {
        display: flex;
        padding: 50px 25% 0;
    }
    button {
        padding: 10px;
        border-radius: 10px;
        color: red;
        font-size: 3rem;
    }
    footer {
        margin-top: 0;
    }
}